<section class="TodoSection">
  <div class="TodoSectionTitle">
    <h2 class="TodoSubtitle"><%=section_title %></h2>
    <p class="TodoSectionTitle-Count"><%=todos.completed.count%>/<%=todos.count%></p>
  </div>
  <ul>
    <% todos.each do |todo| %>
    <% if(!hide_completed || !todo.completed) %>
    <li class="TodoItem">
    <label class="TodoItem-container">
    <%= form_with(url: "/todos/#{todo.id}",method:"put") do %>
    <input 
    class="TodoItem-checkbox"
    name="completed"
    type="checkbox"<%= todo.completed ? "checked" : ""%>
    onclick="this.form.submit()"
    />
    <% end %>

    <p class='<%= todo.completed ? "TodoItem-completedText" : ""%>'>
      <%= todo.todo_text %>
    </p>

    <% if show_due_date %>
      <p class="TodoItem-dueDate"><%= todo.due_date.to_s(:short) %></p>
      <% end %>

      <a href="javascript:void(0)" class="TodoItem-delete">
      <%= form_with(url: "/todos/#{todo.id}",method: "delete") do %>
         <input class="Img-Trash" type="image" src="https://cdn.iconscout.com/icon/premium/png-256-thumb/trashcan-7-624482.png">
      <% end %>
      </a>
      </label>
      </li>
      <% end %>
      <% end %>
  </ul>
</section>